{:kotoba.app/id "cloud.itonami.isic-4329", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicnh777x7wb3hx32dssg2t4dw77oqqfoumxrq5gevkecytlzdv6re", :kotoba.app/embed-url "ipfs://bafkreicnh777x7wb3hx32dssg2t4dw77oqqfoumxrq5gevkecytlzdv6re", :published {:archive "https://kotobase.net/ipfs/bafkreicnh777x7wb3hx32dssg2t4dw77oqqfoumxrq5gevkecytlzdv6re", :size 72955, :put-status 201, :get-status 200, :at "2026-08-15T13:44:13.200Z"}}
